{% extends 'base.html.twig' %}

{% block title %} Categories {% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="d-grid gap-2 d-md-block">
            <a class="btn btn-success" href="/categories?sortDir=ASC" role="button">ASC</a>
            <a class="btn btn-success" href="/categories?sortDir=DESC" role="button">DESC</a>
        </div>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}