{% extends 'base.html.twig' %}

{% block title %} Create new product {% endblock %}

{% block body %}
    <div class="form-group">
        <form action="{{ path('product_create') }}" method="POST">

            <div class="col-sm-3">
                <label for="name" class="form-control-label">Name:</label><br>
                <input type="text" class="form-control" id="name" name="name"><br>
            </div>

            <div class="col-sm-3">
                <label for="price" class="form-control-label">Price:</label><br>
                <input type="number" class="form-control" id="price" name="price"><br>
            </div>

            <div class="col-sm-3">
                <label for="description" class="form-control-label">Description:</label><br>
                <input type="text" class="form-control" id="description" name="description"><br>
            </div>

            <div class="col-sm-3">
                <label>
                    <select name="category_id">
                        <option selected>Choose category</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div><br>

            <div class="col-sm-3">
                <label>
                    <select name="is_hidden">
                        <option selected>IsHidden</option>
                        <option value="1">True</option>
                        <option value="0">False</option>
                    </select>
                </label>
            </div><br>

            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-success">Save</button>
                <a class="btn btn-secondary" href="{{ path('products') }}" role="button">Back</a>
            </div>

        </form>
    </div>
{% endblock %}
